#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1526px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 92rem;
    margin-top: -2.6rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

#auh {
    text-align: center;
    color: rgb(255, 154, 52);
    font-size: 2.5rem;
    font-family: sans-serif;
    user-select: none;
    cursor: default;
}

#wipbh {
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    color: hotpink;
    user-select: none;
    cursor: default;
}

#aboutus {
    border: 4px solid rgb(132, 192, 217);
    border-radius: 21px;
}

#aup {
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: blueviolet;
    user-select: none;
    cursor: default;
}

#aui {
    height: 18rem;
    width: 30rem;
    display: block;
    margin: auto;
}