body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}


#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#aih::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    background: url(bck.png);
    z-index: -1;
    opacity: 1;
    margin-left: 0rem;
    /* margin-top: -0.3rem; */
}

#hone {
    font-size: 2.6rem;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;

}

#pone {
    font-size: 1.3rem;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;

}

#pone a {
    color: blue;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#pone a:hover {
    color: rgb(175, 175, 255);
    text-decoration: underline;
}

#htwo {
    font-size: 2.5rem;
    margin-top: 4rem;
    /* margin-left: 40rem; */
    font-family: 'Lato', sans-serif;
    color: blueviolet;
    text-align: center;
}

#ptwo {
    font-size: 1.3rem;
    color: orangered;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#hthree {
    color: rgb(40, 255, 40);
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    /* margin-left: 32rem; */
    text-align: center;
}

#pthree {
    font-size: 1.3rem;
    color: crimson;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 92rem;
    margin-top: -9rem;
    display: flex;
    width: 1rem;
    height: 1rem;
    text-decoration: none;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#loading {
    width: 101%;
    height: 102vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 99999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}