body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}


#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#aih::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 26%;
    background: url(bck.png);
    z-index: -1;
    opacity: 1;
    margin-left: -0.5rem;
    margin-top: -2.3rem;
}

#hone {
    font-size: 2.6rem;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;

}

#pone {
    font-size: 1.3rem;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;

}

#pone a {
    color: blue;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#pone a:hover {
    color: rgb(175, 175, 255);
    text-decoration: underline;
}

#htwo {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 40rem;
    font-family: 'Lato', sans-serif;
    color: blueviolet;
}

#ptwo {
    font-size: 1.3rem;
    color: orangered;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#hthree {
    color: rgb(40, 255, 40);
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    margin-left: 32rem;
}

#pthree {
    font-size: 1.3rem;
    color: crimson;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 92rem;
    margin-top: -9rem;
    display: flex;
    width: 1rem;
    height: 1rem;
    text-decoration: none;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#loading {
    width: 101%;
    height: 102vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 99999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

@media only screen and (max-width:360px) {
    #pbhn {
        margin-left: 6rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 16rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 20rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 23rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 23rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 4rem;
        margin-left: -29rem;
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #aih::before {
        content: "";
        position: absolute;
        width: 22.5rem;
        height: 10rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2.1rem;
    }

    #htwo {
        margin-left: 1rem;
        text-align: center;
        width: 18rem;
    }

    #ptwo {
        margin-left: 1rem;
        text-align: center;
        width: 21rem;
    }

    #hthree {
        text-align: center;
        margin-left: 2rem;
        width: 18rem;
    }

    #pthree {
        margin-left: 0rem;
        width: 21rem;
    }
  
}

@media only screen and (min-width:361px) and (max-width:430px) {

    #pbhn {
        margin-left: 6rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 19rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #hamburger {
        display: block;
        margin-left: 23rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    } 
    
    #nav {
        display: none;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 26rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 26rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 4rem;
        margin-left: -29rem;
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #aih::before {
        content: "";
        position: absolute;
        width: 25.5rem;
        height: 20%;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2.3rem;
    }

    #htwo {
        margin-left: 3rem;
        text-align: center;
        width: 18rem;
    }

  #ptwo {
    margin-left: 1rem;
    text-align: center;
    width: 23rem;
}

#hthree {
    text-align: center;
    margin-left: 3rem;
    width: 18rem;
}

#pthree {
    margin-left: 2rem;
    width: 21rem;
}
}

@media only screen and (min-width:431px) and (max-width:840px) {
    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 49rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: 0rem;
        display: inline-block;
        color: white;
    }


    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 18rem;
        width: 52rem;
        margin-left: -1rem;
        margin-top: 0rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 51.9rem;
        overflow: hidden;
    }

    #wl {
        width: 196px;
        height: 113px;
        display: flex;
        margin-left: 19.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        display: inline;
    }


    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }

    #pbhtv {
        color: white;
        font-size: 1.8rem;
        margin-left: 45rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }
    #aih::before {
        content: "";
        position: absolute;
        width: 51.4rem;
        height: 11rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2.1rem;
    }

    #player {
        margin-left: 1rem;
        height: 22rem;
        width: 49rem;
    }

    #hthree {
        color: rgb(40, 255, 40);
        font-size: 2.5rem;
        font-family: 'Lato', sans-serif;
        margin-left: 8rem;
    }

#htwo {
    margin-left: 16rem;
    text-align: center;
    width: 18rem;
}

#ptwo {
    margin-left: 1rem;
    text-align: center;
    width: 49rem;
}

#hthree {
    text-align: center;
    margin-left: 3rem;
    width: 42rem;
}

#pthree {
    margin-left: 2rem;
    width: 47rem;
}
}

@media only screen and (min-width:841px) and (max-width:1536px) {
    #aih::before {
        content: "";
        position: absolute;
        width: 96rem;
        height: 26%;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2.3rem;
    }

    #ptwo {
        font-size: 1.3rem;
        color: orangered;
        text-align: center;
        font-family: 'Lato', sans-serif;
        width: 95rem;
    }

    #pthree {
        font-size: 1.3rem;
        width: 95rem;
        color: crimson;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
}