body {
    /* min-height: 100vh;
    width: 100vh; */
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;

}

#wl {
    width: 228px;
    height: 136px;
    display: flex;
    margin-left: 2px;
    margin-top: -1px;
}


#nav ul li {
    list-style: none;
    margin-top: 3.4rem;
}

#nav ul li a {
    margin: 50px;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;


}

#nav ul li a:hover {

    color: gold;
    text-decoration: underline;
    text-decoration: underline;
    color: gold;
    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;
}


#nav ul {
    display: flex;
    margin-top: -9rem;
    margin-left: 17rem;
    height: 148px;
}


#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1527.5px;
    margin-left: -1rem;
}

#aih::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 26%;
    background: url(bck.png);
    z-index: -1;
    opacity: 1;
    margin-left: -0.5rem;
    margin-top: -2.3rem;
}

#insta {
    margin-top: 7rem;
    margin-left: -35rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#insta:hover {
    color: hotpink;
}

#twitter {
    margin-top: 7rem;
    margin-left: -32rem;
    width: 20px;
    cursor: pointer;
    color: white;
}


#twitter:hover {
    color: blue
}

#yt {
    margin-top: 7rem;
    margin-left: -29rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#yt:hover {
    color: red;
}

#fb {
    margin-top: 7rem;
    margin-left: -26rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#fb:hover {
    color: rgb(130, 130, 255);
}

#hone {
    font-size: 2.6rem;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;

}

#pone {
    font-size: 1.3rem;
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;

}

#pone a {
    color: blue;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

#pone a:hover {
    color: rgb(175, 175, 255);
    text-decoration: underline;
}

#htwo {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 40rem;
    font-family: 'Lato', sans-serif;
    color: blueviolet;
}

#ptwo {
    font-size: 1.3rem;
    color: orangered;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#hthree {
    color: rgb(40, 255, 40);
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    margin-left: 32rem;
}

#pthree {
    font-size: 1.3rem;
    color: crimson;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

@media only screen and (min-width:150px) and (max-width:430px){

    #navbar {
        height: 14rem;
        width: 24.1rem;
        overflow: hidden;
        margin-top: -7rem;
    }

    #wl {
        width: 167px;
        height: 104px;
        display: flex;
        margin-left: 6.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 1rem;
        margin-left: -31rem;
        /* overflow: hidden; */
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #insta {
        margin-top: 21.5rem;
        margin-left: -27rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }


    #twitter {
        margin-top: 21.5rem;
        margin-left: -29rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 21.5rem;
        margin-left: -25rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #fb {
        margin-top: 21.5rem;
        margin-left: -23rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #aih::before {
        content: "";
        position: absolute;
        width: 104.9%;
        height: 32%;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2.3rem;
    }

    #htwo{
        margin-left: 1rem;
        text-align: center;
    }

    #hthree{
        margin-left: 1rem;
        text-align: center;
    }

    #ptwo{
        margin-left: 1.5rem;
    }
    
    #pthree{
        margin-left: 1.5rem;
    }

    
}

@media only screen and (min-width:431px) and (max-width:840px) {
    #navbar {
        height: 18rem;
        width: 48.8rem;
        overflow: hidden;
        margin-top: -8rem;
    }

    #wl {
        width: 196px;
        height: 113px;
        display: flex;
        margin-left: 19.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }



    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        /* overflow: hidden; */
        display: inline;
    }


    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }


    #insta {
        margin-top: 24.7rem;
        margin-left: -30rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #twitter {
        margin-top: 24.7rem;
        margin-left: -32rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 24.7rem;
        margin-left: -28rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #aih::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 15%;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2.2rem;
    }

    #player {
        margin-left: 1rem;
        height: 22rem;
        width: 49rem;
    }

    #htwo {
        font-size: 2.5rem;
        margin-top: 4rem;
        margin-left: 17rem;
        font-family: 'Lato', sans-serif;
        color: blueviolet;
    }

    #hthree {
        color: rgb(40, 255, 40);
        font-size: 2.5rem;
        font-family: 'Lato', sans-serif;
        margin-left: 8rem;
    }   
}