body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;

}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#nav ul {
    display: flex;
    min-height: 0px;
    min-height: 0px;
    margin-top: -9rem;
    margin-left: 17rem;
    height: 148px;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -3.4rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}
#name{
    margin-left: 34rem;
    margin-top: 4rem;
    width: 29rem;
    height: 2rem;
    border-radius: 22px;
    font-family: 'Combo', cursive;

}

#email{
    margin-left: 34rem;
    margin-top: 1rem;
    width: 29rem;
    height: 2rem;
    border-radius: 22px;
    font-family: 'Combo', cursive;
}

#subject{
    margin-left: 34rem;
    margin-top: 1rem;
    width: 29rem;
    height: 2rem;
    border-radius: 22px;
    font-family: 'Combo', cursive;
}

 #message {
    width: 29rem;
    height: 11rem; 
    border-radius: 22px;
    font-family: 'Combo', cursive;
    padding: 8px;
    display: flex;
    margin-left: 33.5rem;
    margin-top: 1rem;
} 

#send {
    margin-left: 46rem;
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: white;
    border-radius: 29rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}

#send:hover{
    background-color: rgb(255, 63, 63);
    transition: .1s linear;
    cursor: pointer;
}

#pte {
    margin-left: 28rem;
}


@media only screen and (min-width:1px) and (max-width:430px){

    #pbhn {
        margin-left: 12rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 19rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 23rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 26rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 26rem;
        overflow: hidden;
    }

    #name {
        margin-left: 1rem;
        margin-top: 4rem;
        width: 21rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #email {
        margin-left: 1rem;
        margin-top: 2rem;
        width: 21rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #subject {
        margin-left: 1rem;
        margin-top: 2rem;
        width: 21rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #message {
        margin-left: 0.5rem;
        margin-top: 2rem;
        width: 21rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #send {
        margin-left: 10rem;
        width: 5rem;
        height: 2rem;
        background-color: red;
        color: white;
        border-radius: 29rem;
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    #pte {
        margin-left: 0rem;
        text-align: center;
    }
}

@media only screen and (min-width:432px) and (max-width:840px) {

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 49rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: 0rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 15rem;
        width: 57.6rem;
        margin-left: -1rem;
        margin-top: 0rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 52rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        display: inline;
    }

    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }

    #name {
        margin-left: 11rem;
        margin-top: 4rem;
        width: 29rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #email {
        margin-left: 11rem;
        margin-top: 1rem;
        width: 29rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #subject {
        margin-left: 11rem;
        margin-top: 1rem;
        width: 29rem;
        height: 2rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
    }

    #message {
        width: 29rem;
        height: 11rem;
        border-radius: 22px;
        font-family: 'Combo', cursive;
        padding: 8px;
        display: flex;
        margin-left: 10.5rem;
        margin-top: 1rem;
    }

    #send {
        margin-left: 23rem;
        width: 5rem;
        height: 2rem;
        background-color: red;
        color: white;
        border-radius: 29rem;
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 44rem;
        margin-top: -2rem;
        display: flex;
        position: absolute;
    }
}