body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;

}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#hgth::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    background: url(bck.png);
    z-index: -1;
    opacity: 1;
    margin-left: -0.5rem;
    margin-top: -2rem;
}

#hone {
    font-size: 2.8rem;
    color: blue;
    margin-top: 2rem;
    margin-left: 3rem;
    font-family: 'Poppins', sans-serif;
}

#pone {
    font-family: 'Figtree', sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: rgb(0, 0, 214);
    margin-left: 3rem;

}

#pone a {
    text-decoration: none;
    color: rgb(116, 116, 255);
}

#pone a:hover {
    text-decoration: underline;
}

#ptwo {
    font-size: 1.4rem;
    margin-top: 5rem;
    margin-left: 0rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#ltw {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.1rem;
    color: white;
}

.box {
    margin: 46px;
    background-color: #272c4c;
    height: 100px;
    border-radius: 10px;
}

#ltw a {
    text-decoration: none;
    color: gold;
}

#ltw a:hover {
    color: rgb(255, 234, 113);
}

#loading {
    width: 103%;
    height: 117vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 9999999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}


#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -2.6rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}
@media only screen and (min-width:1px) and (max-width:370px) {

    #pbhn {
        margin-left: 12rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 19rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 23rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 26rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 26rem;
        overflow: hidden;
    }

    #hgth::before {
        content: "";
        position: absolute;
        width: 25.5rem;
        height: 14rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2rem;
    }

    .box {
        height: 16rem;
        width: 22rem;
        margin-left: 1.5rem;
    }

    #ptwo {
        margin-left: 0rem;
        width: 25rem;
    }
}

@media only screen and (min-width:370px) and (max-width:430px) {
    
    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 19rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }
    #navbar {
        height: 9rem;
        width: 26rem;
        overflow: hidden;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 26rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #wl {
        width: 211px;
        height: 119px;
        display: flex;
        margin-left: 5.5rem;
        margin-top: -1px;
    }


    #nav {
        display: none;
    }

    #navfp ul {
        list-style: none;
    }

    #hgth::before {
        content: "";
        position: absolute;
        width: 25.5rem;
        height: 14rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2rem;
    }

    .box {
        height: 17rem;
        width: 22rem;
        margin-left: 0.5rem;
    }

    #ptwo {
        margin-left: 0rem;
        width: 25rem;
    }

    #hamburger {
        display: block;
        margin-left: 23rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }
   
}

@media only screen and (min-width:431px) and (max-width:830px) {

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 49rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: 0rem;
        display: inline-block;
        color: white;
    }

    
    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 18rem;
        width: 52rem;
        margin-left: -1rem;
        margin-top: 0rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 52rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        display: inline;
    }

    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }
    #lu {
        margin-top: 20rem;
        color: blue;
        font-weight: bold;
        margin-left: 34rem;
        font-size: 1.3rem;
        font-family: 'Baloo 2', cursive;
    }
    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 44rem;
        margin-top: -2rem;
        display: flex;
        position: absolute;
    }

    #hgth::before {
        content: "";
        position: absolute;
        width: 51.4rem;
        height: 11rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2rem;
    }


    .box {
        margin: 19px;
        background-color: #272c4c;
        height: 133px;
        border-radius: 10px;
        width: 49rem;
    }

    #ptwo {
        font-size: 1.4rem;
        margin-top: 5rem;
        margin-left: 0rem;
        width: 50rem;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

}

@media only screen and (min-width:831px) and (max-width:1535px) {
   
   #hgth::before {
        content: "";
        position: absolute;
        width: 96rem;
        height: 10rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2rem;
    }

    #ptwo {
        font-size: 1.4rem;
        margin-top: 5rem;
        margin-left: 0rem;
        width: 93rem;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    .box {
        margin: 5px;
        background-color: #272c4c;
        height: 100px;
        border-radius: 10px;
        width: 94rem;
        margin-left: 0rem;
    }

    
}

@media only screen and (min-width:1600px) and (max-width:3000px) {

    #navbar {
        background-color: rgba(0, 0, 144, 0.722);
        width: 124rem;
        margin-left: -1rem;
        height: 9.5rem;
        margin-top: -10rem;
    }

    #hgth::before {
        content: "";
        position: absolute;
        width: 124rem;
        height: 11rem;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2rem;
    }

    #ptwo {
        font-size: 1.4rem;
        margin-top: 5rem;
        margin-left: 0rem;
        text-align: center;
        font-family: 'Lato', sans-serif;
        width: 122rem;
    }

    .box {
        margin: 46px;
        background-color: #272c4c;
        height: 100px;
        border-radius: 10px;
        width: 123rem;
        margin-left: 0rem;
    }
    
    
    
}