body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;

}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#lof {
    height: 20rem;
    width: auto;
    /* margin-top: 3rem; */
    /* margin-left: 4rem; */
    border: 2px solid orange;
    border-radius: 20px;
    margin: auto;
}
#vmsp {
    /* margin-top: 8.5rem; */
    /* display: flex; */
    margin-left: 34.5rem;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    width: 100rem;
}


#vmsn {
    font-size: 3rem;
    margin-top: 3rem;
    /* margin-left: 51rem; */
    font-family: 'Combo', cursive;
    color: orange;
    text-align: center;
}

#s1h {
    text-align: center;
    margin-top: -1.3rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song1 {
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: 2rem;
}


.song1:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#pn {
    margin-top: -3.4rem;
    margin-left: 2rem;
    font-family: 'Combo', cursive;
    color: white;
}

#s2h {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song2 {
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: -5rem;
}

.song2:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#pn {
    margin-top: -3.4rem;
    margin-left: 2rem;
    font-family: 'Combo', cursive;
    color: white;
}

#playing {
    width: 2.5rem;
    height: 1.5rem;
    padding-top: rem;
    margin-left: 3rem;
    display: flex;
    margin-top: -1.2rem;
}

#loading {
    width: 103%;
    height: 117vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 9999999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -2.6rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

#s3h {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song3 {
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: -5rem;
}

.song3:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
#s4h {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song4{
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: -5rem;
}

.song4:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

