body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;

}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#lof {
    height: 20rem;
    width: 26rem;
    margin-top: 3rem;
    margin-left: 4rem;
    border: 2px solid orange;
    border-radius: 20px;
}

#vmsp {
    width: 57rem;
    margin-top: 8.5rem;
    display: flex;
    margin-left: 34.5rem;
}


#vmsn {
    font-size: 3rem;
    margin-top: -19rem;
    margin-left: 51rem;
    font-family: 'Combo', cursive;
    color: orange;
}

#s1h {
    text-align: center;
    margin-top: -2rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song1 {
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: 8rem;
}

.song1:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#pn {
    margin-top: -3.4rem;
    margin-left: 2rem;
    font-family: 'Combo', cursive;
    color: white;
}

#s2h {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song2 {
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: -5rem;
}

.song2:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#pn {
    margin-top: -3.4rem;
    margin-left: 2rem;
    font-family: 'Combo', cursive;
    color: white;
}

#playing {
    width: 2.5rem;
    height: 1.5rem;
    margin-top: -3rem;
    margin-left: 90rem;
    display: flex;
}

#loading {
    width: 103%;
    height: 117vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 9999999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -2.6rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

#s3h {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song3 {
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: -5rem;
}

.song3:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#s4h {
    text-align: center;
    margin-top: 6rem;
    font-family: 'Combo', cursive;
    color: white;
}

.song4{
    background-color: crimson;
    border-radius: 10px;
    margin-left: 0rem;
    height: 2rem;
    margin-top: -5rem;
}

.song4:hover {
    background-color: rgb(241, 77, 110);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}


@media only screen and (max-width:360px) {

    #pbhn {
        margin-left: 6rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 16rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 20rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 23rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 23rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 4rem;
        margin-left: -29rem;
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #lof {
        height: 14rem;
        width: 19rem;
        margin-top: 3rem;
        margin-left: 1rem;
        border: 2px solid orange;
        border-radius: 20px;
    }

    #s1h {
        text-align: center;
        margin-top: -1.8rem;
        font-family: 'Combo', cursive;
        color: white;
        font-size: 1rem;
        margin-left: 3rem;
    }

    #pn {
        margin-top: -2.5rem;
        margin-left: 0.7rem;
        font-family: 'Combo', cursive;
        color: white;
        font-size: 1rem;
    }

    #playing {
        width: 2.5rem;
        height: 1.5rem;
        margin-top: -2.3rem;
        margin-left: 16.8rem;
    }

    #vmsn {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 6rem;
        font-family: 'Combo', cursive;
        color: orange;
    }

    #vmsp {
        width: 20rem;
        margin-top: 2.5rem;
        display: flex;
        margin-left: 1rem;
    }

    .song1 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 20rem;
    }

    .song2 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 20rem;
    }

    .song3 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 20rem;
    }
    .song4 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 20rem;
    }

    #vmsn {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 5rem;
        font-family: 'Combo', cursive;
        color: orange;
        width: 14rem;
    } 

    #s1h {
        text-align: center;
        margin-top: -1.8rem;
        color: white;
        font-size: 1.5rem;
        margin-left: 0rem;
    }

    #s2h {
        text-align: center;
        margin-top: -2rem;
        font-family: 'Combo', cursive;
        color: white;
    }

    #s3h {
        text-align: center;
        margin-top: -2rem;
        font-family: 'Combo', cursive;
        color: white;
    }
    #s4h {
        text-align: center;
        margin-top: -2rem;
        font-family: 'Combo', cursive;
        color: white;
    }
}

@media only screen and (min-width:361px) and (max-width:430px) {

    #pbhn {
        margin-left: 6rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 19rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 23rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 26rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 26rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 4rem;
        margin-left: -29rem;
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #lof {
        height: 14rem;
        width: 23rem;
        margin-top: 3rem;
        margin-left: 1rem;
        border: 2px solid orange;
        border-radius: 20px;
    }

    #s1h {
        text-align: center;
        margin-top: -1.8rem;
        font-family: 'Combo', cursive;
        color: white;
        font-size: 1rem;
        margin-left: 3rem;
    }

    #pn {
        margin-top: -3rem;
        margin-left: 0.7rem;
        font-family: 'Combo', cursive;
        color: white;
        font-size: 1rem;
    }

    #playing {
        width: 2.5rem;
        height: 1.5rem;
        margin-top: -2.3rem;
        margin-left: 18.8rem;
    }

    #vmsn {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 6rem;
        font-family: 'Combo', cursive;
        color: orange;
    }

    #vmsp {
        width: 23rem;
        margin-top: 2.5rem;
        display: flex;
        margin-left: 1rem;
    }

    .song1 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 23rem;
    }
    

    .song2 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 23rem;
    }

    .song3 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 23rem;
    }
    .song4 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 3rem;
        width: 23rem;
    }

    #vmsn {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 5rem;
        font-family: 'Combo', cursive;
        color: orange;
        width: 14rem;
    } 

    #s1h {
        text-align: center;
        margin-top: -1.8rem;
        color: white;
        font-size: 1.5rem;
        margin-left: 0rem;
    }

    #s2h {
        text-align: center;
        margin-top: -2rem;
        font-family: 'Combo', cursive;
        color: white;
    }

    #s3h {
        text-align: center;
        margin-top: -2rem;
        font-family: 'Combo', cursive;
        color: white;
    }
    #s4h {
        text-align: center;
        margin-top: -2rem;
        font-family: 'Combo', cursive;
        color: white;
    }
}

@media only screen and (min-width:431px) and (max-width:830px) {

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 49rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: 0rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 18rem;
        width: 52rem;
        margin-left: -1rem;
        margin-top: 0rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 51.9rem;
        overflow: hidden;
    }

    #wl {
        width: 196px;
        height: 113px;
        display: flex;
        margin-left: 19.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        display: inline;
    }


    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }

    #pbhtv {
        color: white;
        font-size: 1.8rem;
        margin-left: 45rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    .song1 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: 1rem;
        width: 50rem;
    }

    .song2 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: -5rem;
        width: 50rem;
    }

    .song3 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: -5rem;
        width: 50rem;
    }
    .song4 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: -5rem;
        width: 50rem;
    }

    #vmsn {
        font-size: 3rem;
        margin-top: -26rem;
        margin-left: 12rem;
        font-family: 'Combo', cursive;
        color: orange;
        display: flex;
    }

    #vmsp {
        width: 47rem;
        margin-top: 25.5rem;
        display: flex;
        margin-left: 1.5rem;
    }

    #lof {
        height: 20rem;
        width: 26rem;
        margin-top: 11rem;
        margin-left: 10rem;
        border: 2px solid orange;
        border-radius: 20px;
        display: flex;
    }

    #playing {
        width: 2.5rem;
        height: 1.5rem;
        margin-top: -3rem;
        margin-left: 42rem;
    }

    #vmsn {
        font-size: 3rem;
        margin-top: -26rem;
        margin-left: 11rem;
        font-family: 'Combo', cursive;
        color: orange;
        display: flex;
        width: 33rem;
    }

    #s1h {
        text-align: center;
        margin-top: 0rem;
        font-family: 'Combo', cursive;
        color: white;
    }
}

@media only screen and (min-width:831px) and (max-width:1526px) {

    .song1 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: 6rem;
        width: 94rem;
    }

    .song2 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: -5rem;
        width: 94rem;
    }

    .song3 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: -5rem;
        width: 94rem;
    }
    .song4 {
        background-color: crimson;
        border-radius: 10px;
        margin-left: 0rem;
        height: 2rem;
        margin-top: -5rem;
        width: 94rem;
    }

}

@media only screen and (min-width:1600px) and (max-width:3000px) {
    #navbar {
        background-color: rgba(0, 0, 144, 0.722);
        width: inherit;
        margin-left: -1rem;
        height: 9.5rem;
        margin-top: -10rem;
    }
}