

#main-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: red;
}

#main-para {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

#akamdiv {
    background-color: blue;
    margin: auto;
    width: auto;
    height: 2.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#akamdiv:hover {
    background-color: rgb(117, 117, 255);
    transition: 0.3s;
}

#akam {
    text-align: center;
    padding-top: 0.4rem;
    color: white;
    text-decoration: none;
    font-family: sans-serif;

}

#hgtdiv {
    background-color: blue;
    margin: auto;
    width: auto;
    height: 2.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#hgtdiv:hover {
    background-color: rgb(117, 117, 255);
    transition: 0.3s;
}

#hgt {
    text-align: center;
    padding-top: 0.4rem;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#aidiv {
    background-color: blue;
    margin: auto;
    width: auto;
    height: 2.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#aidiv:hover {
    background-color: rgb(117, 117, 255);
    transition: 0.3s;
}

#ai {
    text-align: center;
    padding-top: 0.4rem;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#widcdiv {
    background-color: blue;
    margin: auto;
    width: auto;
    height: 2.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#widcdiv:hover {
    background-color: rgb(117, 117, 255);
    transition: 0.3s;
}

#widc {
    text-align: center;
    padding-top: 0.4rem;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#fas1div {
    background-color: blue;
    margin: auto;
    width: auto;
    height: 2.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#fas1div:hover {
    background-color: rgb(117, 117, 255);
    transition: 0.3s;
}
#fas2div {
    background-color: blue;
    margin: auto;
    width: auto;
    height: auto;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#fas2div:hover {
    background-color: rgb(117, 117, 255);
    transition: 0.3s;
}
