#wl {
    width: 228px;
    height: 136px;
    display: flex;
    margin-left: 2px;
    margin-top: -1px;
}


#nav ul li {
    list-style: none;
    margin-top: 3.4rem;
}

#nav ul li a {
    margin: 50px;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;


}

#nav ul li a:hover {

    color: gold;
    text-decoration: underline;
    text-decoration: underline;
    color: gold;
    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;
}


#nav ul {
    display: flex;
    margin-top: -9rem;
    margin-left: 17rem;
    height: 148px;
}


#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1527.5px;
    margin-left: -1rem;

    /* filter:blur(-1px);
    -o-filter:blur(-1px);
    -ms-filter:blur(-1px);
    -moz-filter:blur(-1px);
    -webkit-filter:blur(1px); */
}

#insta {
    margin-top: 7rem;
    margin-left: -35rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#insta:hover {
    color: pink;
}

#twitter {
    margin-top: 7rem;
    margin-left: -32rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#insta:hover {
    color: blue
}

#twitter:hover {
    color: blue
}

#yt {
    margin-top: 7rem;
    margin-left: -29rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#yt:hover {
    color: red;
}

#fb {
    margin-top: 7rem;
    margin-left: -26rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#fb:hover {
    color: blue;
}

#sf {
    width: 94rem;
    margin-left: 0rem;
    margin-top: 25rem;
}

#hone {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-left: 36rem;
    color: blue;
}

#s1l {
    height: 220px;
    width: 228px;
    margin-top: 1rem;
    margin-left: 42rem;
}

#vml {
    margin-top: 2rem;
    margin-left: 18rem;
    width: 63rem;
}

#htwo {
    font-size: 2.4rem;
    margin-left: 41rem;
    color: orangered;
}

#s2l {
    height: 220px;
    width: 228px;
    margin-left: 41rem;

}

#hthree {
    font-size: 2.4rem;
    margin-left: 39rem;
}

#mts {
    margin-top: 2rem;
    margin-left: 18rem;
    width: 63rem;
}

@media only screen and (min-width:150px) and (max-width:430px){

    #navbar {
        height: 16rem;
        width: 20rem;
        overflow: hidden;
    }


    #wl {
        width: 167px;
        height: 104px;
        display: flex;
        margin-left: 8rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 3rem;
        margin-left: -30.5rem;
        /* overflow: hidden; */
        display: inline;
    }

    #navbar {
        height: 15rem;
        width: 27.4rem;
        overflow: hidden;
        margin-top: -9em;
    }

    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #insta {
        margin-top: 22.5rem;
        margin-left: -27rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }


    #twitter {
        margin-top: 22.5rem;
        margin-left: -29rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 22.5rem;
        margin-left: -25rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #fb {
        margin-top: 22.5rem;
        margin-left: -23rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #hone {
        margin-top: 1rem;
        margin-left: 1rem;
        text-align: center;
    }

    #htwo {
        margin-top: 1rem;
        margin-left: 1rem;
        text-align: center;
    }

    #s1l {
        margin-top: 1rem;
        margin-left: 5rem;
    }

    #vml {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 24rem;
    }

    #hthree {
        font-size: 2.4rem;
        margin-left: 2rem;
        text-align: center;
        color: rgb(0, 249, 0);
    }

    #s2l {
        margin-left: 5rem;
        margin-top: 1rem;
    }

    #mts{
        margin-top: 1rem;
        margin-left: 1rem;
        width: 24rem;
    }
}

@media only screen and (min-width:431px) and (max-width:840px) {
    #navbar {
        height: 18rem;
        width: 48.8rem;
        overflow: hidden;
        margin-top: -8rem;
    }
    
    #wl {
        width: 196px;
        height: 113px;
        display: flex;
        margin-left: 19.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }



    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        /* overflow: hidden; */
        display: inline;
    }


    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }


    #insta {
        margin-top: 24.7rem;
        margin-left: -30rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #twitter {
        margin-top: 24.7rem;
        margin-left: -32rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 24.7rem;
        margin-left: -28rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #hgth::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 17%;
        background: url(bck.png);
        z-index: -1;
        opacity: 1;
        margin-left: -0.5rem;
        margin-top: -2rem;
    }
    .box {
        margin: 19px;
        background-color: #272c4c;
        height: 133px;
        border-radius: 10px;
        width: 48rem;
    }
    #fb {
        margin-top: 24.7rem;
        margin-left: -26rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #hone {
        font-size: 2.8rem;
        margin-top: 1rem;
        margin-left: 12rem;
        color: blue;
    }

    #htwo {
        font-size: 2.4rem;
        margin-left: 19rem;
        color: orangered;
    }

    #s1l {
        height: 220px;
        width: 228px;
        margin-top: 1rem;
        margin-left: 20rem;
    }

    #vml {
        margin-top: 2rem;
        margin-left: 0rem;
        width: 48rem;
    }

    #hthree {
        font-size: 2.4rem;
        margin-left: 17rem;
        color: rgb(0, 216, 0);
    }

    #s2l {
        height: 220px;
        width: 228px;
        margin-left: 20rem;
    }

    #mts {
        margin-top: 2rem;
        margin-left: 0rem;
        width: 48rem;
    }
}