#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1526px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -2rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

#sf {
    width: 94rem;
    margin-left: 0rem;
    margin-top: 25rem;
}

#hone {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-left: 33.5rem;
    color: whitesmoke;
    font-family: 'Combo', cursive;

}

#s1l {
    height: 220px;
    width: 228px;
    margin-top: 1rem;
    margin-left: 11rem;
}


#play {
    margin-left: -8.6rem;
    margin-top: 1rem;
    font-size: 30px;
    background-color: orange;
    border-radius: 20px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 9px;
    color: white;
}

#play:hover {
    cursor: pointer;
    color: rgb(209, 209, 209);
    background-color: rgb(255, 186, 59);
    transition: all 350ms ease 0s;
}


#vml {
    margin-top: 2rem;
    margin-left: 18rem;
    width: 63rem;
}

#htwo {
    font-size: 2.3rem;
    margin-left: 9.6rem;
    color: red;
    margin-top: 0rem;
    font-family: 'Combo', cursive;
    display: flex;
}

#hfour {
    font-size: 2.3rem;
    margin-left: 6.6rem;
    color: red;
    margin-top: 0rem;
    font-family: 'Combo', cursive;
    display: flex;
}


#s2l {
    height: 220px;
    width: 228px;
    margin-left: 41rem;

}

#hthree {
    font-size: 2.4rem;
    margin-left: 39rem;
    color: white;
    font-family: 'Baloo 2', cursive;
}

#mts {
    margin-top: 2rem;
    margin-left: 18rem;
    width: 63rem;
}

.all {
    border: 3px solid #66ccff;
    margin: 1rem;
    height: 49rem;
    background: linear-gradient(blue, pink);
}

#song2 {
    margin-left: 49rem;
    margin-top: -21rem;
}


#loading {
    width: 103%;
    height: 117vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 9999999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -2.6rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

#s2l {
    margin-top: 1rem;
    margin-left: 3.5rem;
}

#hfive {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-left: -53.5rem;
    color: orangered;
    font-family: 'Combo', cursive;
    text-align: center;
}

#s3l {
    height: 220px;
    width: 228px;
    margin-left: 11rem;
}
#hsix {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-left: -5.5rem;
    color: orangered;
    font-family: 'Combo', cursive;
    text-align: center;
}

#s4l {
    height: 220px;
    width: 228px;
    margin-left: 11rem;
}

#song4{
    margin-top: -22rem;
    margin-left: 49rem;
}

#s1l {
    height: 220px;
    width: auto;
    display: flex;
    margin: auto;
}

#s2l {
    margin-top: 10rem;
    height: 220px;
    width: auto;
    display: flex;
    margin: auto;
}

#client-section {
    position: relative;
    /* height: 1056px; */
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

#clients img {
    height: 20rem;
    width: 20rem;
    margin: auto;
}

.client-item {
    padding: 34px;
}

.all {
    border: 3px solid #66ccff;
    margin: 1rem;
    height: auto;
    background: linear-gradient(blue, pink);
}

@media only screen and (max-width:1000px) {

    #clients{
        flex-wrap: wrap;
    }
    
}