::selection {
    background-color: pink;
}


body {
    scroll-behavior: smooth;
    background-color: #fad3d9;
}

* {
    scroll-behavior: smooth;

}

#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1544px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}


#slinks {
    border: 4px solid rgb(40, 197, 245);
    border-radius: 20px;
    height: auto;
    margin-top: 1rem;
    background: linear-gradient(blue, red);
    margin: 1rem;
}

#slinksimg {
    border-radius: 50%;
    width: 17rem;
    height: 16rem;
    margin: auto;
    display: block;
    /* margin-top: 5rem; */
}

#slinksh {
    font-family: sans-serif;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    cursor: default;
    user-select: none;
}

#lif {
    width: 11rem;
    height: 8rem;
    border-radius: 45px;
    margin-left: 6rem;
    margin-top: 3rem;
}

#slinksi {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    /* margin-left: 40rem; */
    display: block;
    text-align: center;
}

#ytp{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 15rem;
}

#ytp:hover{
    color: rgb(254, 12, 12);
    transition: 0.1s linear;
    background-color: white;
    border-radius: 1rem;
}
#wbp{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 15rem;
}

#wbp:hover{
    color: rgb(254, 12, 12);
    transition: 0.1s linear;
    background-color: white;
    border-radius: 1rem;
}
#kp{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 15rem;
}

#kp:hover{
    color: rgb(254, 12, 12);
    transition: 0.1s linear;
    background-color: white;
    border-radius: 1rem;
}
#fbp{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 15rem;
}

#fbp:hover{
    color: blue;
    transition: 0.1s linear;
    background-color: white;
    border-radius: 1rem;
}

#koo{
    max-width: 100%;
    height: auto;
    width: 15%;
    display: inline;
}

#isp{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 15rem;
}

#isp:hover{
    color: hotpink;
    transition: 0.1s linear;
    background-color: white;
    border-radius: 1rem;
}