*::selection {
    background-color: pink;
}


body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;

}

#wl {
    width: 228px;
    height: 136px;
    display: inline;
    margin-left: 2px;
    margin-top: 7px;
}


#nav ul li {
    list-style: none;
    margin-top: 3.4rem;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

#nav ul li a:hover {

    color: gold;
    text-decoration: underline;
    color: gold;
    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;
}


#nav ul {
    display: flex;
    min-height: 0px;
    min-height: 0px;
    margin-top: -9rem;
    margin-left: 17rem;
    height: 148px;
}


#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1526px;
    margin-left: -1rem;
    height: 10.5rem;
    margin-top: -10rem;
}



#hgt {
    margin-top: 0rem;
    margin-left: 0rem;
    width: 94rem;
}

#ti {
    width: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
}

#navbar ul {
    display: flex;
    min-height: 0px;

    list-style: none;

}

#hone {
    font-size: 2.5rem;
    font-family: 'DynaPuff', cursive;
    color: gold;
    margin-left: 1rem;
    cursor: default;
    user-select: none;
    margin-top: 6rem;
}

#pone {
    font-size: 1.3rem;
    color: rgb(255, 166, 0);
    margin-left: 1rem;
    font-family: 'DynaPuff', cursive;
    cursor: default;
    user-select: none;
}

#pone a {
    color: blue;
    text-decoration: none;
}

#pone a:hover {
    color: rgb(180, 180, 255);
    text-decoration: underline;
}

#ec {
    margin-top: -21rem;
    margin-left: 61rem;
    box-shadow: 5px 5px 5px gold;
}

#nm {
    width: 297px;
    margin-top: -1rem;
    margin-left: 11rem;
}

#box {
    border: 2px solid red;
    margin: 100px;
    box-shadow: 3px 3px 3px 3px rgb(229 86 86);
    margin-top: 1rem;
    height: 216rem;
}

#htwo {
    color: blueviolet;
    font-size: 2.7rem;
    margin-top: 3rem;
    margin-left: 2rem;
    text-align: center;
    cursor: default;
}

#downer {
    display: inline;
}

#home {
    background-image: linear-gradient(red, yellow);
    height: 34rem;
    margin-top: 1rem;
    margin-left: -1rem;
    width: 95.4rem;
}

#ptwo {
    margin-left: 31rem;
    margin-top: -27rem;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;

}

#hthree {
    font-family: 'Baloo 2', cursive;
    font-size: 2rem;
    margin-top: -1em;
    margin-left: 31rem;
}

#i2 {
    width: 1000px;
    height: 544px;
    margin-top: 0px;
    margin-left: 15rem;
}

#i3 {
    width: 1000px;
    height: 550px;
    margin: auto;
    display: block;
}

#btn1 {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: blue;
    color: blanchedalmond;
    margin-top: -17rem;
    display: flex;
    min-height: 0px;
    margin-left: 1rem;
    padding-left: 10px;
    padding-top: 5px;
}

#btn1:hover {
    background-color: rgb(117, 117, 255);
}

#btn2 {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: blue;
    color: blanchedalmond;
    margin-top: -2rem;
    display: flex;
    min-height: 0px;
    margin-left: 93rem;
    padding-left: 10px;
    padding-top: 5px;
}

#btn2:hover {
    background-color: rgb(117, 117, 255);
}

#i1 {
    width: 1000px;
    height: 544px;
    margin-top: 0px;
    margin-left: 15rem;
}

#i2 {
    height: 544px;
    width: 338px;
    margin-left: 40rem;
}


.slider {

    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;

}

#hgti {
    width: 95.4rem;
    height: 500px;
    margin-left: -1rem;
}

#hgth {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2.8rem;
    color: #272c4c;
    font-family: 'Baloo 2', cursive;
    cursor: default;
}

#km {
    width: 108px;
    height: 36px;
    background-color: gold;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 39rem;
}

#download {
    width: 140px;
    height: 36px;
    background-color: gold;
    border-radius: 20px;
    cursor: pointer;
}

#km:hover {
    background-color: rgb(255, 234, 112);
}

#download:hover {
    background-color: rgb(255, 234, 112);
}

#download a {
    text-decoration: none;
    color: black;
}

#km a {
    text-decoration: none;
    color: black;
}

#insta {
    margin-top: 7rem;
    margin-left: -35rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#insta:hover {
    color: hotpink;
}

#twitter {
    margin-top: 7rem;
    margin-left: -32rem;
    width: 20px;
    cursor: pointer;
    color: white;
}


#twitter:hover {
    color: blue
}

#yt {
    margin-top: 7rem;
    margin-left: -29rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#yt:hover {
    color: red;
}

#fb {
    margin-top: 7rem;
    margin-left: -26rem;
    width: 20px;
    cursor: pointer;
    color: white;
}

#fb:hover {
    color: rgb(130, 130, 255);
}

#i4 {
    width: 56rem;
    height: 34rem;
    margin-top: 0px;
    margin-left: 19.5rem;
}

#sm {
    font-size: 1.9rem;
    margin-left: 33rem;
    margin-top: 1rem;
    color: blue;
}

#smp {
    width: 39rem;
    height: 35rem;
    margin-top: 2rem;
    margin-left: 22rem;
}

#tcpv1 {
    width: 46rem;
    height: 39rem;
    margin-top: 1rem;
    margin-left: 21rem;
}

#tcpv2 {
    width: 46rem;
    height: 46rem;
    margin-top: 1rem;
    margin-left: 21rem;
}


#tcp1 {
    color: blue;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-left: 33rem;
}

#idc {
    color: blue;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-left: 28rem;
}

#idcv {
    width: 46rem;
    height: 30rem;
    margin-top: 1rem;
    margin-left: 21rem;
}

#fh {
    font-size: 1.8rem;
    margin-left: 26rem;
    margin-top: 1rem;
    color: blue;
    cursor: default;
}

#fhv {
    margin-top: 2rem;
    margin-left: 24rem;
    width: 35rem;
    cursor: default;
    height: 31rem;
}

#header {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
    color: orangered;
    cursor: default;
    width: 19rem;
    margin-top: 1rem;
}

#header:hover {
    color: rgb(255, 137, 94);
}

#ddmp {
    color: rgb(255, 132, 0);
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-align: center;
}

#rm1 {
    color: rgb(156, 156, 156);
    text-decoration: none;
}

#rm1:hover {
    color: rgb(212, 212, 212);
    text-decoration: underline;
}

#lif {
    width: 11rem;
    height: 8rem;
    border-radius: 45px;
    margin-left: 6rem;
    margin-top: 3rem;
}

footer {
    background-color: rgb(45, 45, 255);
    height: 27rem;
    width: 95.4rem;
    margin-left: -1rem;
    margin-top: 3rem;
}

#wu {
    margin-left: 20rem;
    margin-top: -5rem;
    font-size: 1.3rem;
}

#wu a {
    color: white;
    text-decoration: none;
}

#wu a:hover {
    color: rgb(219, 219, 219);
}

#mu2 {
    margin-left: 55rem;
    margin-top: -4.5rem;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
}

#vst1 {
    margin-left: 25rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: orangered;
}

#vst1 a {
    color: rgb(255, 94, 0);
    text-decoration: none;
}

#vst1 a:hover {
    color: rgb(255, 150, 111);
}

#vst2 {
    margin-left: 60rem;
    margin-top: -3.5rem;
    font-size: 1.6rem;
    color: orangered;
}

#vst2 {
    color: orangered;
}


#vs {
    margin-left: -1rem;
    width: 95.4rem;
    height: 1.8rem;
    margin-top: 1rem;
    background-color: gold;
}

#preloader {
    background: white url(200w.gif) no-repeat center center;
    height: 101vh;
    width: 101%;
    position: fixed;
    z-index: 100;
    margin-left: -1rem;
    margin-top: -1rem;
    background-size: 18%;
}

#cmd {
    margin-top: 1rem;
    height: 25rem;
    border: 3px solid rgb(0, 191, 255);
    border-radius: 25px;
}

#cmh {
    margin-left: 38rem;
    margin-top: 0rem;
    font-size: 2.8rem;
    font-family: "Baloo 2", cursive;
    color: blue;
}

#cmi {
    margin-left: 7rem;
    margin-top: -1rem;
    border-radius: 200px;
}

#cmp {
    margin-left: 24rem;
    margin-top: -11rem;
    font-size: 1.8rem;
}

#whatsapp {
    font-size: 32px;
    margin-left: 47rem;
    color: rgb(0, 249, 0);
    margin-top: 1rem;
}

#whatsapp:hover {
    color: rgb(143, 255, 143);
}


#email {
    font-size: 32px;
    margin-left: 46.9rem;
    color: lightblue;
    margin-top: 1rem;
}

#email:hover {
    color: rgb(57, 205, 255);
}


#send-links {
    width: 0px;
}

#myInput {
    display: none;
}

#sl {
    margin-left: 43.5rem;
    margin-top: 1rem;
    color: orangered;
    font-size: 1.7rem;
    font-family: "Baloo 2", cursive;
    cursor: default;
}

#sld {
    width: 64rem;
}

#cp {
    font-size: 150px;
    color: rgb(196, 196, 255);
    margin-left: 16rem;
    margin-top: 1.5rem;
}

#cm {
    font-size: 1.5rem;
    margin-left: 44rem;
    margin-top: -5rem;
    color: blue;
}

#cm a {
    text-decoration: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#coifs {
    margin-top: 7rem;
}

#creator-message-box {
    border: 4px solid rgb(255, 152, 152);
    height: 13rem;
    margin-top: -3rem;
    border-radius: 15px;
    box-shadow: 6px 6px lightcoral;
    background-color: rgb(255, 252, 223);
}

#cmh {
    font-size: 2.8rem;
}

#cmb {
    display: block;
    border: 3.5px solid plum;
    margin-top: -1.5rem;
    margin-left: 1rem;
    z-index: 2;
    border-radius: 10px;
    display: none;
}

#mfc {
    font-size: 2rem;
    color: crimson;
    text-align: center;
}

#close {
    font-size: 35px;
    color: gray;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

#close:hover {
    color: rgb(181, 181, 181);
    cursor: pointer;
}

#buh {
    font-size: 2.4rem;
    margin-top: 0.2rem;
    margin-left: 2rem;
    font-family: "Baloo 2", cursive;
    cursor: default;
    color: rgb(235, 102, 129);
    z-index: 999;
}


#lmabu {
    font-family: 'Combo', cursive;
    margin-top: -2rem;
    margin-left: 2rem;
    cursor: default;
    color: rgb(235, 102, 129);
}

#bu {
    width: 96.4rem;
    height: 7rem;
    margin-left: -1rem;
    position: fixed;
    bottom: 0;
    background-color: rgb(234, 234, 234);
    opacity: 85%;
}


#lmfbuh {
    margin-top: -4.5rem;
    margin-left: 87rem;
    border-radius: 15px;
    display: flex;
    background-color: red;
    width: 5.9rem;
    height: 1.8rem;
    padding-top: 0.5px;
    padding-left: 10px;
    border: 2px solid white;
    cursor: default;
}



#lmfbuh:hover {
    background-color: rgb(255, 83, 83);
}

#lmfbuh a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: default;
}


#cbu {
    margin-left: 94rem;
    display: flex;
    margin-top: -4rem;
    font-size: 26px;
    color: blue;
}



#cbu:hover {
    color: rgb(81, 81, 255);
    cursor: default;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 92rem;
    margin-top: -9rem;
    display: flex;
    width: 1rem;
    height: 1rem;
    text-decoration: none;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#loading {
    width: 101%;
    height: 102vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 99999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#loi {
    list-style: none;
    text-align: center;
}


#loi a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

#loi a:hover {
    text-decoration: underline;
    color: rgb(202, 202, 202);
    transition: 0.2s linear;
    cursor: default;
}

#sh a {
    text-decoration: none;
    margin-left: 46rem;
    color: white;
    display: flex;
    font-size: 2rem;
    margin-top: 0rem;
    font-family: 'Combo', cursive;
}

#sh a:hover {
    color: rgb(206, 206, 206);
    text-decoration: underline;
    cursor: default;
    transition: 0.2s linear;
}

#sh {
    display: flex;
}

#player {
    width: 47rem;
    height: 26rem;
    margin-left: 24rem;
    margin-top: 1rem;
}

#oc {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: 'Combo', cursive;
    color: orangered;
}

#ah {
    font-size: 2.8rem;
    margin-left: 43rem;
    margin-top: 1rem;
    font-family: 'Combo', cursive;
    cursor: default;
    user-select: none;
    color: blue;
}

#fai {
    font-size: 2.4rem;
    font-family: 'Combo', cursive;
    margin-left: 46rem;
    margin-top: -12rem;
}

#po1 {
    margin-left: 71rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#faip {
    width: 29rem;
    height: 17rem;
    display: flex;
    margin-left: 4rem;
}

#fai a{
    text-decoration: none;
    color: rgb(0, 201, 0);
}

#fai a:hover{
    color: rgb(55, 250, 55);
    transition: .1s linear;
}

@media only screen and (min-width:1px) and (max-width:370px) {

    #navbar {
        height: 16rem;
        width: 26.4rem;
        overflow: hidden;
    }

    #wl {
        width: 167px;
        height: 104px;
        display: flex;
        margin-left: 6.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 4rem;
        margin-left: -31rem;
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #insta {
        margin-top: 23.5rem;
        margin-left: -25rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }


    #twitter {
        margin-top: 23.5rem;
        margin-left: -27rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 23.5rem;
        margin-left: -23rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #fb {
        margin-top: 23.5rem;
        margin-left: -21rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }


    #home {
        background-image: linear-gradient(red, yellow);
        height: 18.5rem;
        width: 24rem;
    }

    #i1 {
        width: 414px;
        height: 297px;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #i2 {
        width: 414px;
        height: 297px;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #i3 {
        width: 414px;
        height: 297px;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #i4 {
        width: 414px;
        height: 297px;
        margin-top: 0px;
        margin-left: 0.5rem;
    }


    #btn1 {
        margin-top: -10rem;
        width: 10px;
        height: 10px;
        margin-left: 1rem;
    }

    #btn2 {
        margin-left: 24rem;
        margin-top: -1rem;
    }

    #ec {
        width: 22rem;
        height: 11rem;
        margin-left: 1.5rem;
        margin-top: 0rem;
    }




    #nm {
        margin-left: 2rem;
    }

    #pwto {
        margin-left: 1rem;
    }

    #ptwo {
        margin-left: 1rem;
        margin-top: -27rem;
        font-size: 1.2rem;
        font-family: 'Baloo 2', cursive;
        margin-top: 0rem;
        text-align: center;
        word-wrap: normal;
    }

    #hthree {
        margin-left: 1rem;
        margin-top: -1rem;
    }

    #hgti {
        width: 23rem;
        height: 13rem;
        margin-left: 1rem;
    }

    #km {
        margin-top: 1rem;
        margin-left: 10rem;
        display: block;
    }

    #download {
        margin-left: 9rem;
        display: block;
    }

    #hgth {
        overflow: hidden;
        display: inline;
        word-wrap: normal;
        text-align: center;
    }

    #hgt {
        overflow: hidden;
        display: inline;
    }

    #box {
        border: 2px solid red;
        margin: 100px;
        box-shadow: 3px 3px 3px 3px rgb(229 86 86);
        margin-top: 1rem;
        height: 145rem;
        width: 25rem;
        margin-left: 0rem;
    }

    #sm {
        margin-top: 1rem;
        margin-left: 1rem;
        display: block;
        text-align: center;
    }

    #smp {
        width: 23rem;
        height: 22rem;
        margin-top: 1rem;
        margin-left: -1.5rem;
    }

    #tcp1 {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    #tcpv1 {
        width: 22rem;
        height: 39rem;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    #tcpv2 {
        width: 23rem;
        height: 16rem;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    #idc {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    #idcv {
        width: 23rem;
        height: 19rem;
        margin-top: 0rem;
        margin-left: -1rem;
    }

    #fh {
        font-size: 1.8rem;
        margin-left: -1rem;
        margin-top: 1rem;
        color: blue;
        text-align: center;
    }

    #fhv {
        margin-top: 2rem;
        margin-left: 1rem;
        width: 23rem;
        height: 31rem;
    }

    #box {
        border: 2px solid red;
        margin: 100px;
        box-shadow: 3px 3px 3px 3px rgb(229 86 86);
        margin-top: 1rem;
        height: 171rem;
        width: 25rem;
        margin-left: 0rem;
    }

    #vs {
        margin-left: -1rem;
        width: 25.4rem;
        height: 1.8rem;
        margin-top: 1rem;
        background-color: gold;
    }



    #vs {
        margin-left: -1rem;
        width: 26.4rem;
        height: 5.8rem;
        margin-top: 1rem;
        background-color: gold;
    }

    #vst2 {
        margin-left: 4rem;
        margin-top: -0.5rem;
        font-size: 1.6rem;
        color: orangered;
    }

    #vst1 {
        margin-left: 8rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        color: orangered;
    }


    footer {
        background-color: rgb(45, 45, 255);
        height: 46rem;
        width: 26.4rem;
        margin-left: -1rem;
        margin-top: 3rem;
    }

    #lif {
        width: 11rem;
        height: 8rem;
        border-radius: 100px;
        margin-left: 8rem;
        margin-top: 3rem;
    }

    #wu {
        margin-left: 2.5rem;
        margin-top: 2rem;
        font-size: 0.7rem;
    }

    #mu2 {
        margin-left: 0rem;
        margin-top: 2.5rem;
        font-size: 1.4rem;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
    }

    #ddmp {
        margin-left: 3rem;
    }

    #header {
        margin-left: 3rem;
    }

    #sl {
        margin-left: 6.5rem;
        margin-top: 1rem;
        color: orangered;
        font-family: "Baloo 2", cursive;
    }

    #whatsapp {
        font-size: 32px;
        margin-left: 10.5rem;
        color: rgb(0, 249, 0);
        margin-top: 1rem;
    }

    #email {
        font-size: 32px;
        margin-left: 10.3rem;
        color: lightblue;
        margin-top: 1rem;
    }

    #bu {
        width: 96.4rem;
        height: 9rem;
        margin-left: -1rem;
        position: fixed;
        bottom: 0;
        background-color: rgb(234, 234, 234);
        opacity: 85%;
    }

    #buh {
        font-size: 1.4rem;
        margin-top: 0.2rem;
        margin-left: 7rem;
        font-family: "Baloo 2", cursive;
        cursor: default;
        color: rgb(235, 102, 129);
    }


    #pbhtv {
        color: white;
        font-size: 1.5rem;
        margin-left: 23rem;
        margin-top: 4rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }


    #loading {
        width: 103%;
        height: 170vh;
        background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
        position: fixed;
        z-index: 9999999;
        background-size: 30%;
        margin-left: -1rem;
        margin-top: -15rem;
    }

    #bu {
        width: 27.4rem;
        height: 12rem;
        margin-left: -1rem;
        position: fixed;
        bottom: 0;
        background-color: rgb(234, 234, 234);
        opacity: 85%;
    }

    #buh {
        font-size: 1.4rem;
        margin-top: 1.2rem;
        margin-left: 7rem;
        font-family: "Baloo 2", cursive;
        cursor: default;
        color: rgb(235, 102, 129);
    }

    #cbu {
        margin-left: 25rem;
        display: flex;
        margin-top: -12rem;
        font-size: 26px;
        color: blue;
    }

    #lmfbuh {
        margin-top: 1rem;
        margin-left: 13rem;
        border-radius: 15px;
        display: flex;
        background-color: red;
        width: 5.8rem;
        height: 1.8rem;
        padding-top: -1px;
        padding-left: 10px;
        border: 2px solid white;
    }

    #lmabu {
        font-family: 'Combo', cursive;
        margin-top: -1rem;
        margin-left: 1rem;
        text-align: center;
        cursor: default;
        color: rgb(235, 102, 129);
    }

    #sh a {
        text-decoration: none;
        margin-left: 11rem;
        color: white;
        display: flex;
        font-size: 2rem;
        margin-top: 0rem;
        font-family: 'Combo', cursive;
    }

    #player {
        width: 22rem;
        height: 13rem;
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
    }
}

@media only screen and (min-width:371px) and (max-width:600px) {

    #navbar {
        height: 16rem;
        width: 36.7rem;
        overflow: hidden;
    }

    #wl {
        width: 167px;
        height: 104px;
        display: flex;
        margin-left: 12.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 4rem;
        margin-left: -29rem;
        display: inline;
    }


    #nav ul li a {
        margin: 263px;
        font-size: 0.8rem;
        display: block;
    }

    #insta {
        margin-top: 23.5rem;
        margin-left: -25rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }


    #twitter {
        margin-top: 23.5rem;
        margin-left: -27rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 23.5rem;
        margin-left: -23rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #fb {
        margin-top: 23.5rem;
        margin-left: -21rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }


    #home {
        background-image: linear-gradient(red, yellow);
        height: 18.5rem;
        width: 36.6rem;
    }

    #i1 {
        width: 578px;
        height: 297px;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #i2 {
        width: 237px;
        height: 297px;
        margin-top: 0px;
        margin-left: 12.5rem;
    }

    #i3 {
        width: 400px;
        height: 297px;
        margin-top: 0px;
        margin-left: 6.7rem;
    }



    #i4 {
        width: 579px;
        height: 297px;
        margin-top: 0px;
        margin-left: 0.5rem;
        margin-left: 0.5rem;
    }

    #btn1 {
        margin-top: -10rem;
        width: 36px;
        height: 37px;
        margin-left: 4rem;
    }

    #btn2 {
        margin-left: 32rem;
        margin-top: -2rem;
    }

    #ec {
        width: 22rem;
        height: 11rem;
        margin-left: 1.5rem;
        margin-top: 0rem;
    }




    #nm {
        margin-left: 2rem;
    }

    #pwto {
        margin-left: 1rem;
    }

    #ptwo {
        margin-left: 1rem;
        margin-top: -27rem;
        font-size: 1.2rem;
        font-family: 'Baloo 2', cursive;
        margin-top: 0rem;
        text-align: center;
        word-wrap: normal;
    }

    #hthree {
        margin-left: 1rem;
        margin-top: -1rem;
    }

    #hgti {
        width: 23rem;
        height: 13rem;
        margin-left: 1rem;
    }

    #km {
        margin-top: 1rem;
        margin-left: 10rem;
        display: block;
    }

    #download {
        margin-left: 9rem;
        display: block;
    }

    #hgth {
        overflow: hidden;
        display: inline;
        word-wrap: normal;
        text-align: center;
    }

    #hgt {
        overflow: hidden;
        display: inline;
    }

    #box {
        border: 2px solid red;
        margin: 100px;
        box-shadow: 3px 3px 3px 3px rgb(229 86 86);
        margin-top: 1rem;
        height: 171rem;
        width: 35rem;
        margin-left: 0rem;
    }

    #sm {
        margin-top: 1rem;
        margin-left: 1rem;
        display: block;
        text-align: center;
    }

    #smp {
        width: 23rem;
        height: 22rem;
        margin-top: 1rem;
        margin-left: -1.5rem;
    }

    #tcp1 {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    #tcpv1 {
        width: 22rem;
        height: 39rem;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    #tcpv2 {
        width: 23rem;
        height: 16rem;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    #idc {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: -1rem;
    }

    #idcv {
        width: 23rem;
        height: 19rem;
        margin-top: 0rem;
        margin-left: -1rem;
    }

    #fh {
        font-size: 1.8rem;
        margin-left: -1rem;
        margin-top: 1rem;
        color: blue;
        text-align: center;
    }

    #fhv {
        margin-top: 2rem;
        margin-left: 6rem;
        width: 23rem;
        height: 31rem;
    }

    #vs {
        margin-left: -1rem;
        width: 25.4rem;
        height: 1.8rem;
        margin-top: 1rem;
        background-color: gold;
    }



    #vs {
        margin-left: -1rem;
        width: 37.1rem;
        height: 5.8rem;
        margin-top: 1rem;
        background-color: gold;
    }

    #vst2 {
        margin-left: 10rem;
        margin-top: -0.5rem;
        font-size: 1.6rem;
        color: orangered;
    }

    #vst1 {
        margin-left: 16rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        color: orangered;
    }

    footer {
        background-color: rgb(45, 45, 255);
        height: 42rem;
        width: 37.2rem;
        margin-left: -1rem;
        margin-top: 3rem;
    }

    #lif {
        width: 11rem;
        height: 8rem;
        border-radius: 100px;
        margin-left: 12rem;
        margin-top: 3rem;
    }

    #wu {
        margin-left: 4.5rem;
        margin-top: 2rem;
        font-size: 0.9rem;
    }

    #mu2 {
        margin-left: 0rem;
        margin-top: 2.5rem;
        font-size: 1.4rem;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
    }

    #ddmp {
        margin-left: 0rem;
    }

    #header {
        margin-left: 3rem;
    }

    #hgti {
        width: 34rem;
        height: 15rem;
        margin-left: 1rem;
    }

    #ec {
        width: 32rem;
        height: 16rem;
        margin-left: 1.5rem;
        margin-top: 0rem;
    }

    #sl {
        margin-left: 6.5rem;
        margin-top: 1rem;
        color: orangered;
        font-family: "Baloo 2", cursive;
    }

    #whatsapp {
        font-size: 32px;
        margin-left: 10.5rem;
        color: rgb(0, 249, 0);
        margin-top: 1rem;
    }

    #email {
        font-size: 32px;
        margin-left: 10.3rem;
        color: lightblue;
        margin-top: 1rem;
    }

    #bu {
        width: 37.6rem;
        height: 12rem;
        margin-left: -1rem;
        position: fixed;
        bottom: 0;
        background-color: rgb(234, 234, 234);
        opacity: 85%;
    }

    #buh {
        font-size: 1.4rem;
        margin-top: 1.2rem;
        margin-left: 10rem;
        font-family: "Baloo 2", cursive;
        cursor: default;
        color: rgb(235, 102, 129);
    }

    #cbu {
        margin-left: 36rem;
        display: flex;
        margin-top: -11rem;
        font-size: 26px;
        color: blue;
    }

    #lmfbuh {
        margin-top: -0.5rem;
        margin-left: 18rem;
        border-radius: 15px;
        display: flex;
        background-color: red;
        width: 6rem;
        height: 1.8rem;
        padding-top: -1px;
        padding-left: 10px;
        border: 2px solid white;
    }

    #lmabu {
        font-family: 'Combo', cursive;
        margin-top: -2rem;
        margin-left: 1rem;
        text-align: center;
        cursor: default;
        color: rgb(235, 102, 129);
    }

    #pbhtv {
        color: white;
        font-size: 1.5rem;
        margin-left: 21rem;
        margin-top: 4rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }


    #loading {
        width: 103%;
        height: 117vh;
        background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
        position: fixed;
        z-index: 9999999;
        background-size: 30%;
        margin-left: -1rem;
        margin-top: -1rem;
    }

    #player {
        width: 22rem;
        height: 13rem;
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
    }

    #sh a {
        text-decoration: none;
        margin-left: 11rem;
        color: white;
        display: flex;
        font-size: 2rem;
        margin-top: 0rem;
        font-family: 'Combo', cursive;
    }
}

@media only screen and (min-width:601px) and (max-width:940px) {

    #navbar {
        height: 18rem;
        width: 57rem;
        overflow: hidden;
    }


    #wl {
        width: 196px;
        height: 113px;
        display: flex;
        margin-left: 19.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }


    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        display: inline;
    }


    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }


    #insta {
        margin-top: 24.7rem;
        margin-left: -30rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #twitter {
        margin-top: 24.7rem;
        margin-left: -32rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 24.7rem;
        margin-left: -28rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #fb {
        margin-top: 24.7rem;
        margin-left: -26rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #home {
        background-image: linear-gradient(red, yellow);
        height: 25.5rem;
        width: 57rem;
    }


    #i1 {
        width: 57.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #i2 {
        width: 18.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 20rem;
    }

    #i3 {
        width: 51.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #i4 {
        width: 51.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    #btn1 {
        margin-top: -13rem;
        width: 33px;
        height: 32px;
        margin-left: 1rem;
    }

    #btn2 {
        margin-left: 54.4rem;
        margin-top: -3rem;
    }

    #ec {
        width: 47rem;
        height: 27rem;
        margin-left: 1.5rem;
        margin-top: 0rem;
    }



    #nm {
        margin-left: 2rem;
    }

    #pwto {
        margin-left: 1rem;
    }

    #ptwo {
        margin-left: 1rem;
        margin-top: -27rem;
        font-size: 1.2rem;
        font-family: 'Baloo 2', cursive;
        margin-top: 0rem;
        text-align: center;
        word-wrap: normal;
    }

    #hthree {
        margin-left: 1rem;
        margin-top: -1rem;
    }

    #hgti {
        width: 48rem;
        height: 22rem;
        margin-left: 1rem;
    }

    #km {
        margin-top: 1rem;
        margin-left: 22rem;
        display: block;
    }

    #download {
        margin-left: 21rem;
        display: block;
    }

    #hgth {
        overflow: hidden;
        display: inline;
        word-wrap: normal;
        text-align: center;
    }

    #hgt {
        overflow: hidden;
        display: inline;
    }

    #box {
        border: 2px solid red;
        margin: 100px;
        box-shadow: 3px 3px 3px 3px rgb(229 86 86);
        margin-top: 1rem;
        height: 155rem;
        width: 50rem;
        margin-left: 0rem;
    }

    #sm {
        margin-top: 1rem;
        margin-left: 1rem;
        display: block;
        text-align: center;
    }

    #smp {
        width: 48rem;
        height: 37rem;
        margin-top: 2rem;
        margin-left: -0.5rem;
    }

    #tcp1 {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: 3rem;
    }

    #tcpv1 {
        width: 47rem;
        height: 41rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        display: block;
    }

    #tcpv2 {
        width: 48rem;
        height: 26rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    #idc {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: 10rem;
    }

    #idcv {
        width: 47rem;
        height: 23rem;
        margin-top: 0rem;
        margin-left: 1rem;
    }

    #fh {
        font-size: 1.8rem;
        margin-left: 11rem;
        margin-top: 1rem;
        color: blue;
    }

    #fhv {
        margin-top: 2rem;
        margin-left: 7rem;
        width: 37rem;
        height: 31rem;
    }

    #box {
        border: 2px solid red;
        margin: 100px;
        box-shadow: 3px 3px 3px 3px rgb(229 86 86);
        margin-top: 1rem;
        height: 194rem;
        width: 50rem;
        margin-left: 0rem;
    }

    #vs {
        margin-left: -1rem;
        width: 51.7rem;
        height: 1.8rem;
        margin-top: 1rem;
        background-color: gold;
    }

    #vst1 {
        margin-left: 9rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        color: orangered;
    }

    #vst2 {
        margin-left: 30rem;
        margin-top: -3.5rem;
        font-size: 1.6rem;
        color: orangered;
    }

    footer {
        background-color: rgb(45, 45, 255);
        height: 46rem;
        width: 51.7rem;
        margin-left: -1rem;
        margin-top: 3rem;
    }

    #lif {
        width: 11rem;
        height: 8rem;
        border-radius: 100px;
        margin-left: 21rem;
        margin-top: 3rem;
    }

    #wu {
        margin-left: 2.5rem;
        margin-top: 1rem;
        font-size: 1.9rem;
    }

    #mu2 {
        margin-left: 1rem;
        margin-top: 4.5rem;
        font-size: 1.6rem;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
    }

    #sl {
        margin-left: 19.5rem;
        margin-top: 1rem;
        color: orangered;
        font-family: "Baloo 2", cursive;
    }

    #whatsapp {
        font-size: 32px;
        margin-left: 23.6rem;
        color: rgb(0, 249, 0);
        margin-top: 1rem;
    }

    #email {
        font-size: 32px;
        margin-left: 23.5rem;
        color: lightblue;
        margin-top: 1rem;
    }

    #pbhtv {
        color: white;
        font-size: 1.8rem;
        margin-left: 48rem;
        margin-top: 3.5rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #cbu {
        margin-left: 56rem;
        display: flex;
        margin-top: -7.5rem;
        font-size: 26px;
        color: blue;
    }

    #loading {
        width: 101%;
        height: 200vh;
        background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
        position: fixed;
        z-index: 99999;
        background-size: 30%;
        margin-left: -1rem;
        margin-top: -35rem;
    }

    #lmfbuh {
        margin-top: -0.5rem;
        margin-left: 30rem;
        border-radius: 15px;
        display: flex;
        background-color: red;
        width: 4rem;
        height: 1.8rem;
        padding-top: -1px;
        padding-left: 10px;
        border: 2px solid white;
    }

    #bu {
        width: 59.4rem;
        height: 9rem;
        margin-left: -1rem;
        position: fixed;
        bottom: 0;
        background-color: rgb(234, 234, 234);
        opacity: 85%;
    }

    #lmabu {
        font-family: 'Combo', cursive;
        margin-top: -2rem;
        margin-left: 4rem;
        font-size: 1.2rem;
        cursor: default;
        color: rgb(235, 102, 129);
    }

    #player {
        width: 22rem;
        height: 13rem;
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
    }

    #sh a {
        text-decoration: none;
        margin-left: 12em;
        color: white;
        display: flex;
        font-size: 2rem;
        margin-top: 0rem;
        font-family: 'Combo', cursive;
    }
}

@media only screen and (min-width:940px) and (max-width:1426px) {


    #navbar {
        height: 18rem;
        width: 81.5rem;
        overflow: hidden;
    }


    #wl {
        width: 196px;
        height: 113px;
        display: flex;
        margin-left: 35.5rem;
        margin-top: 0rem;
        min-height: 0px;
    }

    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -17rem;
        display: inline;
    }

    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }


    #insta {
        margin-top: 24.7rem;
        margin-left: -36rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #twitter {
        margin-top: 24.7rem;
        margin-left: -42rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #yt {
        margin-top: 24.7rem;
        margin-left: -40rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #fb {
        margin-top: 24.7rem;
        margin-left: -38rem;
        width: 20px;
        cursor: pointer;
        color: white;
    }

    #home {
        background-image: linear-gradient(red, yellow);
        height: 25.5rem;
        width: 81.5rem;
    }


    #i1 {
        width: 81rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 0.5rem;
    }


    #i2 {
        width: 20.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 34rem;
    }



    #i3 {
        width: 47.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 18.5rem;
    }

    #i4 {
        width: 51.2rem;
        height: 25.5rem;
        margin-top: 0px;
        margin-left: 17.5rem;
    }

    #btn1 {
        margin-top: -13rem;
        width: 33px;
        height: 32px;
        margin-left: 1rem;
    }

    #btn2 {
        margin-left: 78.9rem;
        margin-top: -3rem;
    }

    #ec {
        width: 52rem;
        height: 29rem;
        margin-left: 16.5rem;
        margin-top: 0rem;
    }

    #nm {
        margin-left: 2rem;
    }

    #pwto {
        margin-left: 1rem;
    }

    #ptwo {
        margin-left: 1rem;
        margin-top: -27rem;
        font-size: 1.2rem;
        font-family: 'Baloo 2', cursive;
        margin-top: 0rem;
        text-align: center;
        word-wrap: normal;
    }

    #hthree {
        margin-left: 1rem;
        margin-top: -1rem;
    }

    #hgti {
        width: 78rem;
        height: 28rem;
        margin-left: 1rem;
    }

    #km {
        margin-top: 1rem;
        margin-left: 39rem;
        display: block;
    }

    #download {
        margin-top: 1rem;
        margin-left: 38.3rem;
        display: block;
    }

    #hgth {
        overflow: hidden;
        display: inline;
        word-wrap: normal;
        text-align: center;
    }

    #hgt {
        overflow: hidden;
        display: inline;
    }

    #sm {
        margin-top: 1rem;
        margin-left: 1rem;
        display: block;
        text-align: center;
    }

    #smp {
        width: 48rem;
        height: 37rem;
        margin-top: 2rem;
        margin-left: -0.5rem;
    }

    #tcp1 {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: 3rem;
    }

    #tcpv1 {
        width: 47rem;
        height: 41rem;
        margin-top: 1rem;
        margin-left: 16.5rem;
        display: block;
    }

    #tcpv2 {
        width: 48rem;
        height: 26rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    #idc {
        color: blue;
        font-size: 1.9rem;
        margin-top: 1rem;
        margin-left: 10rem;
    }

    #idcv {
        width: 47rem;
        height: 23rem;
        margin-top: 0rem;
        margin-left: 1rem;
    }

    #fh {
        font-size: 1.8rem;
        margin-left: 25rem;
        margin-top: 1rem;
        color: blue;
    }

    #fhv {
        margin-top: 2rem;
        margin-left: 22rem;
        width: 37rem;
        height: 31rem;
    }

    #box {
        border: 2px solid red;
        margin: 100px;
        box-shadow: 3px 3px 3px 3px rgb(229 86 86);
        margin-top: 1rem;
        height: 194rem;
        width: 79.5rem;
        margin-left: 0rem;
    }

    #vs {
        margin-left: -1rem;
        width: 81.5rem;
        height: 1.8rem;
        margin-top: 1rem;
        background-color: gold;
    }

    #vst1 {
        margin-left: 9rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        color: orangered;
    }

    #vst2 {
        margin-left: 59rem;
        margin-top: -3.5rem;
        font-size: 1.6rem;
        color: orangered;
    }

    footer {
        background-color: rgb(45, 45, 255);
        height: 40rem;
        width: 81.6rem;
        margin-left: -1rem;
        margin-top: 3rem;
        margin-top: 3rem;
    }

    #lif {
        width: 11rem;
        height: 8rem;
        border-radius: 100px;
        margin-left: 39rem;
        margin-top: 3rem;
    }

    #ddmp {
        color: rgb(255, 132, 0);
        font-size: 2.3rem;
        margin-left: 10.5rem;
        text-align: center;
    }

    #wu {
        margin-left: 19.5rem;
        margin-top: 1rem;
        font-size: 1.9rem;
    }

    #mu2 {
        margin-left: 1rem;
        margin-top: 4.5rem;
        font-size: 1.6rem;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
    }

    #sl {
        margin-left: 38.5rem;
        margin-top: 1rem;
        color: orangered;
        font-family: "Baloo 2", cursive;
    }

    #whatsapp {
        font-size: 32px;
        margin-left: 41.6rem;
        color: rgb(0, 249, 0);
        margin-top: 1rem;
    }

    #email {
        font-size: 32px;
        margin-left: 41.6rem;
        color: lightblue;
        margin-top: 1rem;
    }

    #pbhtv {
        color: white;
        font-size: 1.8rem;
        margin-left: 77rem;
        margin-top: 3.5rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #cbu {
        margin-left: 80rem;
        display: flex;
        margin-top: -4rem;
        font-size: 26px;
        color: blue;
    }

    #lmfbuh {
        margin-top: -4.5rem;
        margin-left: 72rem;
        border-radius: 15px;
        display: flex;
        background-color: red;
        width: 4rem;
        height: 1.8rem;
        padding-top: -1px;
        padding-left: 10px;
        border: 2px solid white;
    }

    #loading {
        width: 101%;
        height: 140vh;
        background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
        position: fixed;
        z-index: 99999;
        background-size: 30%;
        margin-left: -1rem;
        margin-top: -1rem;
    }

    #sh a {
        text-decoration: none;
        margin-left: 38rem;
        color: white;
        display: flex;
        font-size: 2rem;
        margin-top: 0rem;
        font-family: 'Combo', cursive;
    }
}