#pbhl {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    user-select: none;
}

#pbhl a {
    color: white;
    text-decoration: none;
}

#nav ul li a {
    margin: 58px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#nav ul li {
    list-style: none;
    margin-top: 7.2rem;
    margin-left: -2rem;
}

#nav ul li a:hover {
    color: rgb(196, 196, 196);
    transition: .1s linear;
}


#navbar ul {
    display: flex;
    min-height: 0px;
    margin-left: 10rem;
    list-style: none;
}

#navbar {
    background-color: rgba(0, 0, 144, 0.722);
    width: 1527px;
    margin-left: -1rem;
    height: 9.5rem;
    margin-top: -10rem;
}

#hone {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 2.8rem;
    font-family: 'Baloo 2', cursive;
    color: rgb(255, 151, 151);
}

#un ol {
    margin-left: 2rem;
}

#un ol li {
    font-size: 1.6rem;
    /* list-style: none; */
    font-family: 'Baloo 2', cursive;
    color: red;
}

#lu {
    margin-top: -2rem;
    color: blue;
    font-weight: bold;
    margin-left: 79rem;
    font-size: 1.3rem;
    font-family: 'Baloo 2', cursive;
}

#un ol li a {
    color: orangered;
}

#un ol li a:hover {
    color: rgb(255, 162, 128);
    text-decoration: none;
}

#loading {
    width: 101%;
    height: 100vh;
    background: white url(image_processing20191002-6429-tbqgfv.gif) no-repeat center center;
    position: fixed;
    z-index: 99999;
    background-size: 30%;
    margin-left: -1rem;
    margin-top: -1rem;
}

#pbhtv {
    color: white;
    font-size: 1.5rem;
    margin-left: 93rem;
    margin-top: -3.4rem;
    display: flex;
    position: absolute;
}

#pbhtv:hover {
    color: red;
    transition: .2s ease-in-out;
}

#hamburger {
    display: none;
}

#navfp {
    display: none;
}

#yt-embed {
    margin-left: 25rem;
    margin-top: 1rem;
    width: 45rem;
    height: 25rem;
}

@media only screen and (max-width:430px) {

    #pbhn {
        margin-left: 12rem;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 19rem;
        margin-top: -2rem;
        display: flex;
        width: 1rem;
        height: 1rem;
        text-decoration: none;
    }

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 23rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: -1rem;
        display: inline-block;
        color: white;
    }

    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 17rem;
        width: 26rem;
        margin-left: -1rem;
        margin-top: -0.9rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 26rem;
        overflow: hidden;
    }

    #hone {
        margin-left: .5rem;
        margin-top: 1rem;
        font-size: 2.8rem;
        font-family: 'Baloo 2', cursive;
        color: rgb(255, 151, 151);
    }

    #un ol {
        margin-left: .5rem;
    }

    #un ol li {
        font-size: 1.6rem;
        font-family: 'Baloo 2', cursive;
        color: red;
    }

    #lu {
        margin-top: 4rem;
        color: blue;
        font-weight: bold;
        margin-left: 3rem;
        font-size: 1.3rem;
        font-family: 'Baloo 2', cursive;
    }

    #yt-embed {
        margin-left: 0rem;
        margin-top: 1rem;
        width: 24rem;
        height: 12rem;
    }
}

@media only screen and (min-width:431px) and (max-width:840px) {

    #nav {
        display: none;
    }

    #hamburger {
        display: block;
        margin-left: 49rem;
        margin-top: 6.7rem;
        font-size: 2rem;
        color: white;
    }

    #navfp ul {
        list-style: none;
    }

    #navfp a {
        text-decoration: none;
        margin-top: 2rem;
        margin-left: 0rem;
        display: inline-block;
        color: white;
    }


    #navfp {
        text-align: center;
        background-color: rgba(0, 0, 144, 0.722);
        height: 18rem;
        width: 52rem;
        margin-left: -1rem;
        margin-top: 0rem;
        display: none;
    }

    #navbar {
        height: 9rem;
        width: 52rem;
        overflow: hidden;
    }

    #nav ul li {
        list-style: none;
        margin-top: 6rem;
        margin-left: -23rem;
        display: inline;
    }

    #nav ul li a {
        margin: 226px;
        font-size: 1.2rem;
        display: block;
    }

    #lu {
        margin-top: 20rem;
        color: blue;
        font-weight: bold;
        margin-left: 34rem;
        font-size: 1.3rem;
        font-family: 'Baloo 2', cursive;
    }

    #pbhtv {
        color: white;
        font-size: 2rem;
        margin-left: 44rem;
        margin-top: -2rem;
        display: flex;
        position: absolute;
    }

    #yt-embed {
        margin-left: 0rem;
        margin-top: 1rem;
        width: 50rem;
        height: 23rem;

    }
}

@media only screen and (min-width:841px) and (max-width:1500px){
    #navbar {
        width: 94.5rem;
    }

    #pbhtv {
        color: white;
        font-size: 1.5rem;
        margin-left: 87rem;
        margin-top: -2.5rem;
        display: flex;
        position: absolute;
    }
} 

@media only screen and (min-width:1600px) and (max-width:5000px){
    #navbar{
        width: initial;
    }
}